.venv/
__pycache__/
py_venv/

*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.aux
*.pdf
*.log
.DS_Store
crawler/secondhand_scraper/secondhand_scraper/.DS_Store
crawler/secondhand_scraper/secondhand_scraper/spiders/.DS_Store
data/index/
